/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
   --color-de-fondo: #F5F5F5;
   --color-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol,ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__header{
    display: flex;
    flex-direction: row;
}

.menu__list{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/*Sección Title*/

.title__div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 3rem;
}

.title__profile{
    display: flex;
    width: 15rem;
}

.title__container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__network{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

/*Sección About*/

section.about{
    display: flex;
    justify-content: center;
    background:#eaf2fd;
    padding: 15px 0; 
}

.about__container{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Sección Skills*/

.skills__title{
    display: flex;
    justify-content: center;
}

.skills__line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:  2rem;
}

/*Sección Hobbies*/

.hobbies__title{
    display: flex;
    justify-content: center;
}


.hobbies__line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

/* Experiencia Académica*/

.academic{
    background: #eaf2fd;
    padding: 0 0 25px 0;    
}
.academic__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding-top: 20px;
}

.academic__courses{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.academic__courses__box{
    background: white;
    width: 250px;
    border-radius: 10px;
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.academic__courses__item__img img{
    width: 190px;
    height: 100px;
    /* background-color: white; */
    padding: 15px;
}

/* experiencia*/

.experience__section__title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.experience__box{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100%;
    margin-bottom: 50px;
}

.experience__img{
    width: 60%;
    padding: 0;
    border-radius: 30px;
    box-shadow: 15px 10px 30px 15px #beb9b9;
}

.experience__info{
    width: 20%;
    display: block;
    align-self: center;
}

.experience__btn--demo{
    width: 100px;
    height: 35px;
    background:#0451e0;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 1s all;
}

.experiencia__btn--repo{
    width: 100px;
    height: 35px;
    background:#0451e0;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 1s all;
}

/*Contacto*/

section.formcontacto{
    background: #eaf2fd; 
    display: flex;
    justify-content: center;
}

.formcontacto__title{
    text-align: center;
}

.formcontacto__form{
    width: 100%;
    margin-bottom: 20px;    
}

.formcontacto__input{
    width: 100%;
    height:  40px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: none;
}

.formcontacto__textarea{
    width: 100%;
    border-radius: 5px;
    resize: none;
    margin-bottom: 25px;
    border: none;
    font-family: 'Raleway';
}

.formcontacto__btn{
    width: 150px;
    height: 35px;
    background:#0451e0;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 1s all;
}

.formcontacto__btn:hover{
    background: #193364;
}

/*footeer*/

section.footer{
   text-align: right;
   margin-right:  50px;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}